.About-Section{
    display: flex;
    flex-direction: column;
    padding-left:36px ;
}


.About-Para{
    margin-top: -8px;
    height: 61px;
    width: 240px;
    left: 152px;
    top: 561px;
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #DCDCDC;

}

.About-Head{
    margin-top: 33px;
    height: 21px;
    width: 242.71180725097656px;
    left: 152px;
    top: 535px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #F5F5F5;

}